html {
    height: 100%;
    width: 100%;
}

body {
    background: lightgrey;
}

h2 {
    margin-left: 150px;   /*  <-- old way */
    padding: 5px;
}

p {
    margin-left: 150px;   /*  <-- old way */
    padding: 5px;
}

img {
    float: left;          /*  <-- old way */
    width: 100px;
    padding: 10px;
    margin:5px;
}

.blinky {
    border: solid 3px;
    border-radius: 10px;
    border-color: red;  
    color: white;
    font-family: cursive;
    background-color: black;   
}
